/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold italic";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400 ;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700 ;
  font-style: normal;
}

/* Variables */

 :root {
   --color-1-darkest : #000000;
   --color-1-darker : #293449;
   --color-2-darker : #212A3A;
   --color-3-darker : #161D29;
   --color-4-darker : #32425C;
   --color-5-darker : #444444;
   --color-5-darker : #1D2739;
   --color-1-dark : #BA2732;
   --color-2-dark : #518534;
   --color-1 : #EE3643;
   --color-2 : #CA2C37;
   --color-3 : #63A63E;
   --color-4 : #FFBF47;
   --color-5 : #3BBCE3;
   --color-6 : #DC91D8;
   --color-7 : #5FBB2D;
   --color-8 : #FFD27E;
   --color-9 : #76D0EB;
   --color-10 : #E6B2E4;
   --color-11 : #FFC047;
   --color-12 : #EEC16D;
   --color-1-light : #8ED78F;
   --color-2-light : #FFD180;
   --color-3-light: #FFDA96;
   --color-4-light :#FFD37E;
   --color-5-light :#B0E3B1;
   --color-6-light : #B7BFC8;
   --color-7-light : #C5C5C5;
   --color-8-light : #A9A9A9;
   --color-9-light : #B5B5B5;
   --color-10-light : #C1C6CE;
   --color-12-light : #ABABAB;
   --color-13-light : #C4C4C4;
   --color-14-light : #8A8E94;
   --color-1-lighter: #F3F7F9;
   --color-2-lighter: #F3F7F8;
   --color-3-lighter: #D7DCDE;
   --color-4-lighter: #F9F5F0;
   --color-5-lighter: #EAEAEA;
   --color-6-lighter: #B2B2B2;
   --color-1-lightest: #FFFFFF;
   --color-2-lightest: #F7F3EC;
   --color-3-lightest: #E5E5E5;
   --color-4-lightest: #F1F5F7;
   --color-5-lightest: #F1F1F1;
   --color-6-lightest: #F2F6F8;
 }
/* Global */

body {
  font-family: "PT Sans", Arial, sans-serif ;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-1-darkest);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
.body-header{
 background-color: var(--color-2-lighter);
}

.wraper-background {
background-color: var(--color-1-darker);
}

.header-logo:active,
.footer-logo:active {
  background-color: var(--color-1-dark) ;
}

 .header-logo,
 .footer-logo{
  background-color: var(--color-1);
}

.header-input {
  outline: none;
  border: 0;
  background-color: var(--color-1-darker);
}
.header-input::-webkit-input-placeholder {
  color: var(--color-1-lightest);
}
.header-input:active::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header-input:focus {
 background-color: var(--color-1-lightest);
 color: var(--color-1-darkest);
}

.header-link {
  color: var(--color-1-lightest);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.header-link:active {
  color: rgba(255, 255, 255, 0.5);
}
.full-basket{
  background-color: var(--color-1 );
}
.bookmark:active {
  background-color: var(--color-3-darker);
}

.link-order {
  background-color: var(--color-3 );
}
.link-order:hover{
  background-color: var(--color-7 );
  color: var(--color-1-lightest);
}
.link-order:active {
  color: rgba(255, 255, 255, 0.5);
}

.store-description {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-1);
}

.contacts-information {
  color: var(--color-3-darker);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contacts-phone {
  color: var(--color-1);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.login-link,
.registration-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--color-1-darkest);
  background-color: var(--color-1-lightest);
}

.login-link:hover,
.registration-link:hover,
.my-order:hover,
.personal-cabinet:hover{
  color: var( --color-1);
}

.login-link:active,
.registration-link:active,
.my-order:active,
.personal-cabinet:active{
  color: rgba(197, 197, 197, 1);

}

.header-navigation-list{
  list-style: none;
  background-color: var(--color-1-darker);
}

.header-navigation-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-1-lightest);
}
.header-navigation-link:hover {
background-color: var(--color-1-darkest);
}
.header-navigation-link:active {
  background-color: var(--color-5-darker);
  color: rgba(255, 255, 255, 0.5);
}

/* catalog */
.name-user {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--color-1-darkest);
}

.modal-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-3-darker);
}

/* product-page */
.product-list {
  list-style: none;
}

.product-title {
  color: var(--color-1-lightest);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.item-material {
  background-color: var(--color-4);
}
.item-tool {
  background-color: var(--color-5);
}
.item-technics {
  background-color: var(--color-6);
}
.item-discount {
  background-color: var(--color-1-light);
}
.item-delivery {
  background-color: var(--color-11 );
}

.product-link {
  color: var(--color-1-lightest);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.link-material {
  background-color: var(--color-8);
}
.link-material:hover {
  background-color: rgba(238, 193, 109, 0.3);
}
.link-material:active {
  background-color: rgba(229, 184, 100, 1);
}

.link-tool {
  background-color: var(--color-9);
}
.link-tool:hover {
  background-color:  rgba(118, 208, 235, 0.3);
}
.link-tool:active {
  background-color: rgba(118, 208, 235, 1);
}

.link-technics {
  background-color: var(--color-10);
}
.link-technics:hover {
  background-color: rgba(230, 178, 228, 0.3);
}
.link-technics:active {
  background-color: rgba(230, 178, 228, 1);
}

.link-discount {
  background-color: var(--color-5-light);
}
.link-discount:hover {
  background-color: rgba(176, 227, 177, 0.3);
}
.link-discount:active {
  background-color: rgba(176, 227, 177, 0.1);
}

.link-delivery{
  background-color: var(--color-4-light);
}
.link-delivery:hover{
  background-color: rgba(255, 211, 126, 0.3);
}

.link-delivery:hover{
  background-color: rgba(255, 211, 126, 0.1);
}
.title-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* color: var(--color-1-lightest); */
}

.paragraph-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-1-lightest);
  background-color: var(--color-1);
  outline: none;
  border: 0;
}
.button:hover {
  background-color: rgba(202, 44, 55, 1);
}
.button:active {
  background-color: rgba(186, 39, 50, 1);
}


/* Хлебные крошки каталог */

.breadcrumbs-list,
.catalog-filter-list,
.perforator-list,
.catalog-pagination-list  {
  list-style: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-1-darkest);
}

.link-active{
  color: var(--color-1-lightest);
  background-color: var(--color-1);
}
/* main-catalog */

.catalog-sorting-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-6-lighter);
  border-bottom: 1px dotted var(--color-1);
}
.catalog-sorting-link:hover {
  color:rgba(0, 0, 0, 1);
  border-bottom: 1px solid var(--color-1);
}
.catalog-sorting-link:active {
  color: rgba(238, 54, 67, 1);
  border-bottom: none;
}


.catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(---color-3-darker);
  background-color: var(--color-6-lightest);
}

.catalog-sorting-list{
  background-color: var(--color-2-lightest);
  list-style: none;
}

.
.catalog-filter {
  background-color: var(--color-2-lightest);
}

.sorting-title,
.catalog-filter {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-1-darkest);
}

.caption-filter {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--color-1-darkest);
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-1-darkest);
}

.button-buy,
.button-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  border: 0;
}
.button-buy {
  color: var(--color-1-lightest);
  background-color: var(--color-3);
}
.button-buy:hover {
  background-color: rgba(95, 187, 45, 1);
}

.button-buy:active{
  background-color: rgba(81, 133, 52, 1);
}

.button-bookmarks {
  border: 2px solid var(--color-3);
  color: rgba(63, 78, 103, 1)
}
.button-bookmarks:hover {
  border: 2px solid rgba(50, 66, 92, 1);
  color: rgba(50, 66, 92, 1);
}
.button-bookmarks:active{
  border: 2px solid rgba(152, 160, 173, 1);
  color: rgba(152, 160, 173, 1);
}


/* Пара слов о перфораторах */

.about-perforators {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-1-darkest);
}
.descr-perforators {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-1-darkest);
}


/* section-popular*/

.goods-list,
.producer-list,
.service-list,
.company-list {
  list-style: none;
}

.popular-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-3-darker);
}

.goods-perforator {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(---color-1-darkest);
}

.price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-8-light);
}

.old-price {
  color: var(--color-8-light);
}

.new-price {
  color: var(--color-1-lightest);
  background-color: var(--color-1);
}

/* section-service */

.section-service {
 background-color: var(--color-4-lightest);
}

.service-title,
.company-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-1-darkest);
}

.service-text,
.company-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-1-darkest);
}

.service-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-3-darker);
}

.service-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(color-1-darkest);
}

.company-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(color-1-darkest);
}

/* Footer */

.main-footer {
  background-color: var(--color-3-darker);
}
.footer-navigation-list,
.footer-list,
.social-list{
  list-style: none;
}

.footer-information,
.footer-navigation-link,
.footer-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-1-lighter);
}

.footer-phone {
  color: var(--color-1-lighter);
}

.footer-navigation-link {
  color: var(--color-4-lightest);
}
.footer-navigation-link:hover {
  border-bottom: 1px solid var(--color-4-lightest);
}
.footer-navigation-link:active {
  border-bottom: none;
  color: rgba(145, 155, 169, 1);
}

.footer-link {
  color: var(--color-2-light);
}
.footer-link:hover {
 border-bottom: 1px solid var(--color-2-light);
}
.footer-link:active{
  border-bottom: none;
  color: rgba(152, 137, 110, 1);
 }

.footer-background {
  background-color:var(--color-1-darker);
}

.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-1-lightest);
}

.social-button {
  background-color: var(--color-2-darker);
}

.footer-email {
 color: var(--color-2-light);
}
.footer-email:hover {
  border-bottom: 1px solid rgba(255, 209, 128, 1);
}
.footer-email:active {
  border-bottom: none;
  color: rgba(238, 54, 67, 1);
}

